html, div{
    font-size: 14px;
    font-family: arial;
}
body{
    margin: 0;
    padding: 0;
    font-family: SansSerif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
div{
    box-sizing: border-box;
}
button{
    cursor: pointer;
    background-color: #ECC74E;
    border: 1px solid #FBFBFD;
    height: 40px;
    border-radius: 7px;
    font-size: 14px;
    font-weight: 500;
}
button:hover{
    transform: scale(1.00);
}
a{
    text-decoration: none;
}
@media (max-width: 500px) {
    .row, .navbar {
        flex-direction: column;
    }
}
.navbar{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
    background-color: #ebc034;
    color: #444248;
    min-height: 50px;
    text-shadow: 1px 1px 4px #0000007d;
}
.navbar .logo{
    float: left;
    display: block;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 600;
    padding-left: 20px;
    padding-top: 10px;
}
.navbar .nav-right{
    float: right;
}
.navbar .nav-right ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.navbar .nav-right ul li{
    float: left;
    padding: 15px 25px;
}
.navbar .nav-right ul li a{
    text-decoration: none;
    color: #444248;
}
.main-content{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: flex-start;
}
.main-content .sidebar{
    display: flex;
    width: 230px;
    min-height: 100%;
    background-color: #444248;
    color: white;
    flex-direction: column;
}
.main-content .sidebar .logo-cus{
    padding: 20px 10px;
    margin-bottom: 20px;
}
.main-content .sidebar .sidebar-nav .main-menu{
    list-style: none;
    margin: 0;
    padding: 0;
}
.main-content .sidebar .sidebar-nav .main-menu li{
    padding: 15px;
}
.main-content .sidebar .sidebar-nav .main-menu li:hover{
    background: #ebc034;
}
.main-content .sidebar .sidebar-nav .main-menu .active{
    background-color: lightseagreen;
}
.main-content .sidebar .sidebar-nav .main-menu li a{
    text-decoration: none;
    color: white;
}
.main-content .widget{
    padding: 15px;
}
.main-content .widget a{
    text-decoration: none;
    color: white;
}
.main-content .content{
    background: #6B6C6F;
    width: 100%;
    min-height: 100%;
}
.footer{
    background: #4e555b;
    color: #cbd3da;
    min-height: 10px;
    padding: 10px 15px;
    line-height: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}